img {
    border-radius: 50%;
}

.song-info {
    text-align: center;
    margin-top: 10px;
}

.artist {
    color: rgb(57, 57, 119);
    border: none;
    background: transparent;
}

.image {
    position: relative;
}

.play,
.pause {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.75);
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    /* color: white; */
}