.album-img {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    margin: 0 auto;

}

.album {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.album-info {
    text-align: center;
    width: 50%;
    margin-top: 0px;
    padding: 20px 0px 20px 0px;
}

.album-title {
    text-align: center;
}

.album-info-wrapper {
    width: 100%;
    background-color: rgba(164, 164, 255, 0.75);
    color: white;
    margin-top: 0px;
}