.title {
    font-size: 4em;
    text-align: center;
    width: 100%;
    padding: 20px;
}

.top-hits {
    padding-top: 20px;
    /* background-color: rgb(108, 108, 233); */
    /* color: white; */
}

.top-hit {
    text-align: center;
    padding-bottom: 40px;
}