/* .album-title {
    font-style: italic;
} */

.widget {
    padding: 10px 15px 10px 100px;
    border-bottom: 1px solid rgb(218, 218, 218);
}

img {
    border-radius: 0px;
}

.play-button,
.pause-button {
    border: none;
    background: transparent;
}

.fa-play {
    color: white;
}

.fa-pause {
    color: rgb(0, 228, 0);
}

.song-title {
    text-align: left;
}

@media only screen and (max-width: 600px) {
    .widget {
        padding-left: 0px;
        padding-right: 0px;
        margin: 0px;
    }

    .widget-row {
        margin: 0px;
    }

    .widget .h4 {
        font-size: 1.3em;
    }
    .album-cover-small {
        padding-left: 10px;
        padding-right: 0px;
    }

    .song-title {
        padding-left: 0px;
    }

    .buttons {
        padding: 0px;
    }
 }