#query {
    border-radius: 25px;
    border: none;
    background-color: rgba(164, 164, 255, 0.75);
    padding: 5px;
}

.search-icon {
    color: white;
}

.search {
    border: none;
    background-color: transparent;
}

::placeholder {
    color: white;
    padding-left: 5px;
}

@media only screen and (max-width: 600px) {
    #query {
        width: 125px;
    }
    .h2 {
        font-size: 1.5em;
    }
}